<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IScanServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12120/ScanServer.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IScanServer" contract="ServiceReference1.IScanServer"
                name="BasicHttpBinding_IScanServer" />
        </client>
    </system.serviceModel>
</configuration>